{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block loading_static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
<link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

<img src="{% static '/open-iconic/svg/open-iconic.svg' %}" class="iconic-sprite" style="display:none;" />

    {% block content %}
    {% include "nav.html" %}
        <div id="list-container">
            {% for item in list %}

                <div class="frame">
                    <div class="inner-left">
                        <img class="img-list" src={{item.img}} alt="pic">
                    </div>
                    <div class="inner-right">
                            <b>{{item.title}}</b>
                            <a href={{item.url}} target="_blank">{{item.price}}</a>
                        <div class="counts-div">
                            <a class="counts" title="收藏">
                                <div class="icons"><img class="icons" src="{% static '/open-iconic/svg/star.svg' %}" alt="收藏:"></div>
                                <span class="counts-content">{{item.fav_count}}</span>
                            </a>
                            <a class="counts" title="评论">
                                <div class="icons"><img class="icons2" src="{% static '/open-iconic/svg/comment-square.svg' %}" alt="评论:">
                                </div><span class="counts-content">{{item.comments_count}}</span>
                            </a>
                            <a class="counts" title="值">
                                <div class="icons"><img class="icons" src="{% static '/open-iconic/svg/thumb-up.svg' %}" alt="值:"></div>
                                <span class="counts-content">{{item.zhi_count}}</span>
                            </a>
                            <a class="counts" title="值率">
                                <div class="icons"><img class="icons" src="{% static '/open-iconic/svg/graph.svg' %}" alt="值率:"></div>
                                <span class="counts-content">{{item.vote_percent}}%</span>
                            </a>
                        </div>
                    </div>
                </div>{% if not forloop.last %}<br/>{% endif %}

            {% endfor %}

            <div class="more" value="1"></div>
        </div>
    {% endblock %}